body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: black;
    width: 100vmin;
    height: 100vmin;
    min-width: 550px;
    min-height: 500px;
    display: grid;
    grid-template-rows: repeat(111, 1fr);
    grid-template-columns: repeat(111, 1fr);
    border-left: 3px solid #eeeeee;
    border-right: 3px solid #eeeeee;
}

.tank {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 78, 175);
}

.tank2 {
    background-color: rgb(0, 0, 255);
    border: 1px solid rgb(182, 162, 255);
}

.tank-me {
    background-color: rgb(30, 255, 0);
    border: 1px solid rgb(255, 255, 255);
}

.team-check {
    color: #eeeeee;
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.team-select:hover {
    scale: 1.2;
    cursor: pointer;
}

.selectedTeam {
    scale: 1.2;
    color: #5bdf4a;
}

.noneTeam {
    scale: 1;
    color: #eeeeee;
}

.team1-1 {
    background-color: rgb(243, 94, 94);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team1-2 {
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team1-3 {
    background-color: rgb(255, 145, 0);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team1-4 {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team2-1 {
    background-color: rgb(103, 103, 253);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team2-2 {
    background-color: rgb(0, 255, 21);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team2-3 {
    background-color: rgb(0, 217, 255);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.team2-4 {
    background-color: rgb(103, 103, 253);
    border-radius: 50%;
    /* border: 0.25vmin solid gray; */
}

.bullet {
    background-color: rgb(255, 255, 255);
    border: 0.25vmin solid rgb(55, 0, 255);
}

#score {
    margin-bottom: 100px;
    font-size: 100px;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    width: 70px;
}

#t1-txt {
    color: rgb(255, 97, 97);
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
}

#t2-txt {
    color: rgb(61, 61, 192);
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
}

#vs {
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    width: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tank-state {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.team-score {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#register {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerBtn {
    background-color: black;
    color: #eeeeee;
    border-radius: 0.5rem;
    border: 1px solid #eeeeee;
    width: 120px;
    height: 50px;
    font-size: 22px;
    margin-top: 10px;
}

.registerBtn:hover {
    cursor: pointer;
    background-color: #292929;
}

#name {
    font-size: 22px;
    width: 120px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: black;
    color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}

.tankname {
    color: #fff;
    z-index: 10;
    font-size: 10px;
}

.heart-fill {
    width: 32px;
    height: 32px;
    background-image: url("./images/starFill.svg");
}

.heart-empty {
    width: 32px;
    height: 32px;
    background-image: url("./images/starEmpty.svg");
}

#health-board {
    display: flex;
    flex-direction: row;
}

.block-body {
    background-color: rgb(255, 115, 0);
    border: 1px solid rgb(255, 184, 90);
}

.active-item {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.regeneration {
    background-color: rgb(102, 255, 0);
}